<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" href="static/CSS/style3.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<style>
            body {
                background-image: url('static/IMAGES/hospital.jpeg');
                margin: 0;
                background-size: cover;
                background-repeat: no-repeat; 
            }
        </style>
	</head>
	<body>
		<div class="login">
			<h1>SERPEP</h1>
			<div class="links">
				<a href="{{ url_for('login') }}" class="active">Iniciar Sesion</a>
				<a href="{{ url_for('register') }}">Registro</a>
			</div>
			<form action="{{ url_for('login') }}" method="post">
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Usuario" id="username" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Contraseña" id="password" required>
				<img id="captcha_img" src="b3277a594c6a77c085f5923843785f9e" alt="Captcha">
				<input type="text" name="captcha" placeholder="Introduce el Captcha" id="captcha" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Login">
			</form>
		</div>
	</body>
</html>